@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap');
body{
    margin: 0;
    background-color: black;
    color: white;
    align-items: center;
    display: flex;]
    font-family: 'Poppins', sans-serif;
}
section{
    width: fit-content;
    height: fit-content;
    /* border: 1px solid white; */
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    padding: 15px;
    font-family: 'Poppins', sans-serif;
    text-align: center;

}

img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

#name{
    font-size: 30px;
    /* border: 1px solid white; */

}
#track{
    font-size: 20px;
    /* border: 1px solid white; */

}

#basic_info{
    font-size: 15px;
    width: 90%;
    /* display: flex; */
    justify-content: space-evenly;
    text-align: center;
    /* border: 1px solid white; */
    margin-left: auto;
    margin-right: auto;

}

a{
    text-decoration: none;
    background-color: #006BFF;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 20px;
    color: white;
}